/* -----------------------------
   Global
   ----------------------------- */

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;}

button {
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

a {
    color: inherit;
    font-style: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* -----------------------------
   Navbar
   ----------------------------- */

.navbar-container {
    position: fixed;
    z-index: 999;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background: linear-gradient(0deg,rgba(43, 43, 43, 0.7) 0%, rgba(23, 23, 23, 0.8) 20%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 1) 100%);
    backdrop-filter: blur(20px);
    position: sticky;
    top: 0;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.3);
}

.navbar-item {
    padding-right: 20px;
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    margin: auto;
}

.navbar-item:hover {
    transition: all 0.2s;
    transform: translateY(-3px);
    box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.1) inset;
}

.navbar-icon {
    font-size: 50px;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 100%;
}

.navbar-right {
    width: 156px;
}

#navbar-language-select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#navbar-language-select a {
    opacity: 20%;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
}

#navbar-language-select a:hover {
    transition: all 0.2s;
    opacity: 100%;
}

.language-flag {
    font-size:50px;
    margin: auto;
    text-align: center;
}

/* -----------------------------
   Content
   ----------------------------- */

.section-title {
    text-align: center;
    font-size: 2.5rem;
}

.section-description {
    text-align: center;
    color: #888;
}

.project-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 100%;
    min-height: 300px;
    margin: 0;
    overflow: hidden;
}

.main-content-info {
    margin: 0;
    padding: 0;
}

.links {
    position:sticky;
    font-size: 1.5rem;
    top: 90%;
}

.links * {
    opacity: 80%;
}

.left-align .links {
    text-align: left;
    margin-left: 30px;
}

.right-align .links {
    text-align: right;
    margin-right: 30px;
}

.links ul > li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.links ul > li:hover {
    opacity: 100%;
}

.main-content-info h2 {
    font-size: 2rem;
}

.left-align h2 {
    text-align: left;
    margin-left: 30px;
}

.right-align h2 {
    text-align: right;
    margin-right: 30px;
}

.video-container, .img-container {
    position: relative;
    height: 100%;
}

.project-info {
    margin: 10px;
    overflow: hidden;
}

.project-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.dark-mode-content {
    background-color: #000;
    color: #ddd
}

.gradient {
    inset: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.dark-left {
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 100%);
}

.dark-right {
    background: linear-gradient(-90deg,rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 100%);
}

.light-left {
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 1%, rgba(255, 255, 255, 0) 100%);
}

.light-right {
    background: linear-gradient(-90deg,rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 1%, rgba(255, 255, 255, 0) 100%);
}

.light-mode-content {
    background-color: #fff;
}

.transition {
    height: 50px;
}

.dark-light {
    background: linear-gradient(0deg, rgb(255, 255, 255) 50%, rgb(0, 0, 0) 100%);
}

.light-dark {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
}

.stack {
    display: flex;
    flex-direction: column;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    margin: auto;
    font-size: 50px;
}

.icons * {
    margin: 2px;
}

/* -----------------------------
   Skills
   ----------------------------- */

#skills-container {
    width: 90%;
    margin: 0 auto;
}

#skills-x-axis {
    margin-left: 80px;
}

.skill i {
    margin-right: 20px;
}

.axis-labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}

#skills-content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 60px;
}

#skills-content .skill {
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    background: linear-gradient(90deg,rgba(43, 43, 43, 0) 0%, #ddd 100%);
}

.exp-bar {
  height: 100%;
  width: 0;
  transition: width 0.5s ease-out;
}

/* -----------------------------
   Project Presets
   ----------------------------- */

.container-1 {
    margin-right: 20px;
}

.main-content-1 {
    grid-area: 1 / 1 / span 2 / span 3;
}

.info-1 {
    grid-area: 1 / 4;
}

.stack-1 {
    grid-area: 2 / 4;
}

.container-2 {
    margin-left: 20px;
}

.main-content-2 {
    grid-area: 1 / 2 / span 2 / span 3;
}

.info-2 {
    grid-area: 1 / 1;
}

.stack-2 {
    grid-area: 2 / 1;
}

/* -----------------------------
   Skills presets
   ----------------------------- */

#skills-python .exp-bar {
    background-color: #ffd000;
}

#skills-bash .exp-bar {
    background-color: #293138;
}

#skills-html .exp-bar {
    background-color: #e54d26;
}

#skills-css .exp-bar {
    background-color: #3d8fc6;
}

#skills-js .exp-bar {
    background-color: #f0db4f;
}

#skills-php .exp-bar {
    background-color: #777bb3;
}

#skills-mysql .exp-bar {
    background-color: #00618a;
}

#skills-typescript .exp-bar {
    background-color: #007acc;
}

#skills-angular .exp-bar {
    background-color: #000;
    margin-left: 40%;
}

#skills-prolog .exp-bar {
    background-color: #f46C30;
    margin-left: 45%;
}

#skills-react .exp-bar {
    background-color: #61dafb;
}

#skills-java .exp-bar {
    background-color: #ea2D2e;
}

#skills-spring .exp-bar {
    background-color: #5fb832;
}

#skills-laravel .exp-bar {
    background-color: #f0513f;
}

#skills-csharp .exp-bar {
    background-color: #68217a;
}

#skills-dotnet .exp-bar {
    background-color: #1384c8;
}

/* -----------------------------
   Footer
   ----------------------------- */
   
   footer {
       background-color: #ddd;
       height: 300px;
    }
    
    footer h4 {
        font-size: 1.5rem;
    }
    
    .contact-info {
        padding: 50px;
    }
    
    .contact-info li {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    
/* -----------------------------
   Skills tooltip
   ----------------------------- */

#skill-tooltip {
  position: absolute;
  background: #fff;
  color: #000;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  pointer-events: none;
  z-index: 99;

  transform: scale(0);
  transform-origin: left;
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
}

#skill-tooltip.visible {
  display: block;
  transform: scale(1);
  opacity: 1;
}
